<div>
  @if (intent() === "search") {
    <div class="row">
      <mat-checkbox
        [(ngModel)]="envService.searchEnvDev"
        [disabled]="!enabledEnvSelection()"
        [value]="ENVIRONMENT.DEVELOP"
        >Develop</mat-checkbox
      >
      <mat-checkbox
        [(ngModel)]="envService.searchEnvTest"
        [value]="ENVIRONMENT.TEST"
        [disabled]="!enabledEnvSelection()"
        >Test</mat-checkbox
      >
    </div>
  } @else if (intent() === INTENT.MOVE) {
    <div class="move-container">
      <div class="col">
        <mat-label>From:</mat-label>
        <mat-radio-group
          class="col"
          aria-label="Select an option"
          [(ngModel)]="envService.fromEnv"
        >
          <mat-radio-button [value]="ENVIRONMENT.DEVELOP"
            >Develop</mat-radio-button
          >
          <mat-radio-button [value]="ENVIRONMENT.TEST">Test</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col">
        <mat-label>To:</mat-label>
        <mat-radio-group
          class="col"
          aria-label="Select an option"
          [(ngModel)]="envService.toEnv"
        >
          <mat-radio-button [value]="ENVIRONMENT.DEVELOP"
            >Develop</mat-radio-button
          >
          <mat-radio-button [value]="ENVIRONMENT.TEST">Test</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  }
</div>
