<div class="container-inner">
  <app-choose-table></app-choose-table>

  @if (tableService.columns().length > 0) {
    <mat-form-field class="width-100">
      <mat-label>I want to search by:</mat-label>
      <mat-select (selectionChange)="handleSearchBySelection($event)" multiple>
        @for (column of tableService.columns(); track column) {
          <mat-option [value]="column">{{ column }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <form [formGroup]="form" class="search-fields">
    @for (item of tableService.searchBy(); track item) {
      @if (form.contains(item)) {
        <mat-form-field class="width-100">
          <mat-label>{{ item }}</mat-label>
          <input type="text" matInput [formControlName]="item" />
        </mat-form-field>
      }
    }
  </form>
</div>
